@charset "UTF-8";
/* font-family: 'Roboto', sans-serif; */

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

a, a:hover {
    text-decoration: none;
}

.header{
    background: #8FE9A3;
    height: 70px;
    line-height: 70px;

}
.container-fluid{
    padding:0;
}

.logo{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
}

.menu{
    float:right;
}

.menu a{
    color:#ffffff;
    margin-right: 20px;
}

.menu a:hover{
    color:#000000;
    
}

.banner{
    width:100%;
    max-width: 100%;
}


.ban{
    width:100%;
    max-width: 100%;
    position: relative;
}

.ban img{
    width:100%;
    max-width: 100%;
}

.inner-banner{
    position:absolute;
    top: 40%;
    left: 0;
    width:100%;
    text-align: center;
}

.inner-banner h1{
    color:#ffffff;
    text-shadow: 1px 1px 20px #000000;
}


.inner-banner .btn-custom{
    background-color:#8FE9A3;   
    color:#ffffff;

}

.separator{
    height:3px;
    width: 10%;
    border: none;
    box-shadow: none;
    background-color:  #8FE9A3;

}
.inner-banner .btn-custom:hover{
    background-color:#000000;   

}
#plante {
    text-align: center;
    padding-top: 10%;
    }

.plante article {
    margin-top: 5%;
    margin-bottom: 7%;
    }
.plante article h2{
text-align: center;
}

.portfolio{
    background-color: #eeeeee;
    height: 800px;
}

.portfolio{
    text-align: center;
}

.portfolio .item-folio img{ 
    height: 270px;
    background-color: #8FE9A3;
}

.footer{
    background-color: #2C3E50;
}

#contact{
    color: #ffff;
    text-align: center;
}


.contact-form {
    margin-top:70px;
}
